.new-tweet{
    margin-bottom: 20px;
}
.new-tweet .title{
    margin: 0;
    padding: 0;
}
.new-tweet .form-group{
    margin: 0 0 5px 0;
    padding: 0;
}
.new-tweet .form-group .image{
    max-width: 100%;
}
.new-tweet .form-group .custom-file-label{
    border: none;
    width: 180px;
}
 .custom-file-input:lang(en)~.custom-file-label::after {
     content: "Seleccionar imagen"
 }